<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB03JLmR3WN1oU3sUG8aO4V0ds6y0DEhBI</string>
	<key>GCM_SENDER_ID</key>
	<string>318641994751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>akash.The-Patel</string>
	<key>PROJECT_ID</key>
	<string>the-patel</string>
	<key>STORAGE_BUCKET</key>
	<string>the-patel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318641994751:ios:6f73d050340d4e85d345ca</string>
</dict>
</plist>